<h1>My restaurants</h1>

<ul id="restaurants" style = "list-style: none">
  <% @restaurants.each do |restaurant| %>
    <li style = "text-decoration: none">
      <%= link_to restaurant.name, restaurant_path(restaurant.id)%>
      <%= link_to restaurant_path(restaurant.id), method: :delete, data: { confirm: "Delete #{restaurant.title}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to new_restaurant_path do %>
  <i class="fa fa-plus"></i> Add a new restaurant
<% end %>
